/************************************************************************/
/*																		*/
/* Client Specific Style Overrides										*/
/* Client: SD Edge													*/
/* July 03th, 2015														*/
/*																		*/
/************************************************************************/

/* General Overrides */

/* Body Background */
/* Change this if there is going to be a background image on the body*/
/* Question 4 value */
body { 
	background-color:#DFDFDF;  /* question-4-a*/
	background-image:url(./Art/en/bg_body_pacificorp-1.jpg); /* question-4-b just change file name, keep path*/
	background-repeat: repeat-x; /* Replace with proper repeat syntax, possible options are: repeat, no-repeat, repat-y, repeat-x;  */
	background-position: 0 0;
}


/* Links */
/* Chnage this to the primary branding color */
/* Question 5 value */
a,
a:link,
a:visited,
a:link,
a:hover,
a span,
#login a,
#selaccts.accounts > table:nth-child(2) table td a,
#curtailment-event-details #graph-summary table td a.details-link,
#selaccts.groups > div.container > table.list table td a,
#divButtons li a,
#linksForPrinting li a,
a[class*="ui-date"] span:after  { color:#4075ba;  } /* data-id="question-5" */

/* Buttons: Question 6 Value */
input.button,
a.button,
#selaccts a.button,
#divChartOptions input[type=button],
#customer-selection .multi-select a.button,
#login a.button,
#login input.button,
#reports-events > form > ul.advanced-filter li:last-child input,
#curtailment-event-details input[type=button],
aside[id*="edit-"] .button, 
#account-attributes .button  {
	border:1px solid #1d3f6b; /* data-id="question-6-b-b" */
	background-color:#4075ba; /* data-id="question-6-a" */
	background:-webkit-gradient(linear, bottom, from(#1d3f6b) 0%, to(#4075ba) 100%);/* data-id="question-6-b-a" */  /* data-id="question-6-b-b" */
	background-image:-webkit-linear-gradient( bottom, #1d3f6b 0%, #4075ba 100%); /* data-id="question-6-b-a" */  /* data-id="question-6-b-b" */
	background-image:-moz-linear-gradient( bottom, #1d3f6b 0%, #4075ba 100%); /* data-id="question-6-b-a" */  /* data-id="question-6-b-b" */
	background-image:-ms-linear-gradient( bottom, #1d3f6b 0%, #4075ba 100%); /* data-id="question-6-b-a" */  /* data-id="question-6-b-b" */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1d3f6b, endColorstr=#4075ba)"; /* data-id="question-6-b-a" */  /* data-id="question-6-b-b" */
	color:#fff;
}

/* UI Highlights: Question 7 Value - Convert Hex to RGB, Change values in rgba() without changing last value (0.80) */
#divChartOptions .multi-select .container .ms-parent:hover,
#divChartOptions .select .styled-select:hover {
	-webkit-box-shadow:0 0 4px 1px rgba(101, 217, 255, 0.8); /* data-id="question-7" */ 
}

/* Header Region Overrides */

/* Header: Question 2 Value */
header {
	background:none;
	background-color:#fff; /* data-id="question-2-a" */
}
/* Header Logo: These elements can be resized to work with various sized logos from clients */
header > section {
	background:none;
	padding-left:0;
}
/* Logo: Question 1 Value */ header > section h1 {
	display:inline-block;
	float:left;
	margin-top:0;
	padding:0;
	width:950px;
	height:53px;
	overflow:hidden;
	text-indent:-9999px;
	font-size:1px;
	background:url(./Art/logo/pacificorp-header-logo.gif) no-repeat 0 0; /* data-id="question-1" just the file path*/
}
/* Header: User Name Link: Question 3 Value */
header > section > ul > li:first-child > a { color:#4075ba !important; } /* data-id="question-3" */


/* Main Navigation */
/* Navigation Background Gradient: Question 8 Value; */
nav {
	background-color:#b4b4b4; /* data-id="question-8-a" */
	background:-webkit-gradient(linear, top, from(#404040), to(#b4b4b4) 25%); /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	background:-webkit-linear-gradient(top, #404040, #b4b4b4 25%); /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	background:-moz-linear-gradient(top, #404040, #b4b4b4 25%); /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	background:-o-linear-gradient(top, #404040, #b4b4b4 25%); /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	background:linear-gradient(top, #404040, #b4b4b4 25%); /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#404040, endColorstr=#b4b4b4)"; /* data-id="question-8-b-b" */ /* data-id="question-8-b-a" */
	

}
/* Tab Colors: Question 9 Value */
nav > ul > li { background:#4075ba !important; } /* data-id="question-9-a" */
nav > ul > li:hover { background:#35598c !important; } /* data-id="question-9-b" */
nav > ul > li.active { background:#1c3c69 !important; } /* data-id="question-9-c" */

/* Tab Text Colors: Change these to be the most legible with the background color - white or dark gray */
nav > ul > li a { color:#fff !important; }
nav > ul > li:hover a { color:#fff !important; }
nav > ul > li.active a { color:#fff !important; }


/* Content Region Overrides */

/* Titles: Question 12 Value */
#login-page section#introduction h2,
#customer-selection .multi-select h2,
#content aside h2,
#preferences > table > tbody > tr > td > b,
label#lblText {  color:#85855c; } /* data-id="question-12" */


/* Left Navigation & Containers: Question 11 Value - Change color of file found in Art/en/bg-tile-blocktop-blue.gif */
#content aside.chart-wrapper,
#content aside#newemissionreport,
#content aside#newbillestimation,
#content aside#newgooglemap,
#content aside#reports-events,
#content aside#curtailment-event-details,
#content aside#group-edit-add,
aside#grid-container,
#content aside#account-attributes,
#divChartOptions,
#historicalContain .dateContain,
#profiles,
#content aside#ReportParameters { background-image:url(./Art/en/bg-tile-blocktop-blue-pacificorp.jpg) !important; } /* data-id="question-11" */

/* Left Navigation Menu: Question 10 Value */
#content aside#profiles ul li,
#divChartOptions .accordion li .submenu li { background-color:#fff; } /* data-id="question-10-a" */

/* Left Navigation Menu - Hover: Question 10 Value  */
#content aside#profiles ul li:hover,
#divChartOptions .accordion li .submenu li:hover { background-color:#b2b2b2; }
#content aside#profiles ul li:hover a,
#divChartOptions .accordion li .submenu li:hover a { color:#58595b; }  /* data-id="question-10-c" */

/* Left Navigation Menu - Active: Question 10 Value */
#content aside#profiles ul li.active,
#divChartOptions .accordion li .submenu li.active {
	background-color:#1c3c69;
	color:#fff;
} /* data-id="question-10-b" just background color */
#content aside#profiles ul li.active:hover a,
#divChartOptions .accordion li .submenu li.active:hover a { color:#fff; }

/* Date Picker */

/* Today's date: Qustion 13 Value */
.date-picker-wrapper .month-wrapper table .day.real-today,
.date-picker-wrapper .month-wrapper table .day.real-today.checked,
.date-picker-wrapper .month-wrapper table .day.real-today:hover,
.date-picker-wrapper .month-wrapper table .day.real-today.checked:hover {
	background-color:#1c3c69; /* data-id="question-13-b" just background-color */
	color:#fff !important;
}

/* Checked Days: Qustion 13 Value */
.date-picker-wrapper .month-wrapper table .day.checked { background-color:#bacfee; } /* data-id="question-13-a" */

/* Checked Days - Hover */
.date-picker-wrapper .month-wrapper table .day.toMonth.checked:hover,
.date-picker-wrapper .month-wrapper table .day.checked:hover { 
	background-color:#1c3c69; /* data-id="question-13-b" just background-color */
	color:#fff;
}

/* Login Page */
#login-page section#introduction p { background-image:url(./Art/en/display-pacificorp.png); }
#login-page section#introduction,
#login div.login-footer { background:#EAEAEA; }

