@font-face {
  font-family:'seroundedregular';
  src:url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-lig-webfont-webfont.svg#se_roundedlight') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedmedium';
  src:url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-med-webfont-webfont.svg#se_roundedmedium') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedbold';
  src:url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-bol-webfont-webfont.svg#se_roundedbold') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedregularitalic';
  src:url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-ligit-webfont-webfont.svg#se_roundedlight_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedmediumitalic';
  src:url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-medit-webfont-webfont.svg#se_roundedmedium_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedbolditalic';
  src:url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.eot');
  src:url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.woff2') format('woff2'),
  url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.woff') format('woff'),
  url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.ttf') format('truetype'),
  url('/schneider/web/resources/fonts/serounded-bolit-webfont-webfont.svg#se_roundedbold_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}
