* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $body;
  color:$primary;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}
.quickNav {
  margin: 0;
  li {
    line-height: 1;
    a {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 10px;
      line-height: 1;
    }
    margin: 0;
  }
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b03c), color-stop(100% #009c2c));
  background-image: -webkit-linear-gradient(top, #00b03c 0%, #009c2c 100%);
  background-image: -moz-linear-gradient(top, #00b03c 0%, #009c2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b03c', endColorstr='#ff009c2c', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b03c',endColorstr='#ff009c2c',GradientType=0);
  background-image: -ms-linear-gradient(top, #00b03c 0%, #009c2c 100%);
  background-image: -o-linear-gradient(top, #00b03c 0%, #009c2c 100%);
  background-image: linear-gradient(top, #00b03c 0%, #009c2c 100%);
  color: white;
  margin-bottom: 2em;
  padding:1em 0;
  .logo {
    float:left;
    max-width:120px;
  }
  h1 {
    float:right;
    font-size: 24px;
    font-family: $body;
  }
  * {
    color:white;
  }
}

.archives {
  li{
    margin-bottom: .5em;
    padding: .5em 0;
    border-bottom: solid 1px #ededed;
    display: block;
    font-size: 14px;
    span {
    font-family:$heading;
    display: inline-block;
  }
    a, a:visited, a:active {
      font-family:$body;
      color:$secondary;
      &:hover {
        color:darken($secondary, 20%);
      }
    }
  }
}

form {
  ul {
    margin-top: 0;
  }
}
/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 
  background: $secondary;
  padding:1em 2em;
  border:0;
  box-shadow:none;
  font-family: $heading;
  color:white;
  font-style: normal;
  border-radius:5px;
  font-size: 16px;
  @include transition(.3s all);

  &:hover, &:focus {
    background: darken($secondary, 10%);
  }
}

.well {
  padding:1em;
  background: lighten($light, 15%);
}



