body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: $neutral;
}
small {
  font-size: 60%;
  font-style: italic;
  display: block;
  margin-bottom: 1em;
  strong{
    font-family: $heading;
  }
}
h2 {
  color:$secondary;
  font-size: 24px;
  margin:0 0 .5em;
}
h3 {
  font-family: $heading;
  font-size: 20px;
  color:$primary;
}

label {
  color:$primary;
  font-size: 18px;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

