// COLOR PALETTE
$primary: #4d4d4d;
$secondary: #009530;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$light: #ccc;

// FONT STACKS
$body: "seroundedregular", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
$heading: "seroundedmedium", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;